@use "variables" as *;

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  max-width: 90vw;
  margin: 0 auto;
  justify-content: center;
  .grid-card {
    background-color: $bg-content;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
    padding: 1rem;
    cursor: pointer;
    text-decoration: none;
    max-width: 800px;
    width: 100%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0);
    text-align: justify;

    img {
      width: 100%;
      max-height: 300px;
      border-radius: 10px;
      aspect-ratio: 16/6;
    }
    &:hover, &:focus {
      transform: scale(1.02);
    }
    h2{
      margin: 1rem 0;
      color: black;
      border-bottom: 2px solid black;
    }
  }
}