@use "./variables" as *;

#typed-text {
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}

#separator {
  display: block;
  border-bottom: 2px solid black;
  margin: 1rem 0;
}

.content-inicio {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 1rem;
}

.inicio {
  text-align: center;
}

.ultimos-articulos {
  margin-top: 2rem;
}
.detail-card {
  margin: 1rem;
  padding: 1rem;
  background-color: $bg-content;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    width: 100%;
    max-width: 350px;
    height: 100%;
    margin: 1rem;
    border-radius: 10px;
  }
  .text-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
    margin-left: 1rem;
  }
}
// --------- Responsive style for details cards ---------
@media (max-width: 600px) {
  .detail-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .detail-card img {
    width: 90%;
    max-width: 400px;
    min-width: 140px;
    margin: 0 0 1.2rem 0;
    display: block;
  }
  .detail-card .text-description {
    align-items: center;
    text-align: justify;
  }
}


// --------- Slider style ---------
.slider-container {
  position: relative;
  margin: 1rem auto;
  width: 100%;
  max-width: 80vw;
  height: 600px;
  overflow: hidden;
  border-radius: 10px;
}
.slide {
  display: none;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 3px 0 0 3px;
  background-color: rgb(0, 0, 0);
  user-select: none;
  transition: background-color 0.3s ease;
}

.prev {
  left: 5%;
}
.next {
  right: 5%;
}
.caption-slide {
  color: white;
  font-size: 1.3rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.4);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}

// --------- Responsive style ---------
@media (max-width: 768px) {
  .slider-container {
    height: 300px;
    max-width: 100vw;
  }
  .prev,
  .next {
    font-size: 1.2rem;
    padding: 0.3rem;
  }
  .content-inicio {
    width: 95vw;
  }
}
