@use "./variables" as *;

#typed-text {
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}

#separator {
  display: block;
  border-bottom: 2px solid black;
  margin: 1rem 0;
}

.content-inicio {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 1rem;
}

.inicio {
  text-align: center;
}

.title-section {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1.5rem 0;
  animation: slide-in-left 1s ease-out forwards;
  svg {
    transition: transform 0.4s ease;
  }
  svg:hover {
    transform: scale(1.3);
  }
  .logo-rect {
    fill: black;
    stroke: black;
    stroke-width: 5;
    fill-opacity: 0.2;
    stroke-opacity: 0.9;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: border-loop-rect 10s ease-in-out infinite;
  }

  .logo-circle {
    fill: none;
    stroke: black;
    stroke-width: 4;
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
    animation: border-loop-circle 10s ease-in-out infinite;
  }

  .logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    fill: black;
    opacity: 0;
    animation: text-initial 1s ease forwards;
    animation-delay: 1s;
  }
}

@keyframes slide-in-left {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes border-loop-rect {
  0% {
    stroke-dashoffset: 500;
  }
  25% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes border-loop-circle {
  0% {
    stroke-dashoffset: 250;
  }
  25% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes text-initial {
  to {
    opacity: 1;
  }
}

.img-index {
  max-width: 350px;
  margin: 2rem auto;
  img {
    width: 100%;
    height: auto;
    display: block;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    animation: clip-animation 5s ease-in-out;
  }
}
@keyframes clip-animation {
  0% {
    clip-path: polygon(19% 37%, 0% 0%, 0% 100%, 55% 100%);
  }
  25% {
    clip-path: polygon(32% 32%, 23% 0%, 0% 100%, 55% 100%);
  }
  50% {
    clip-path: polygon(72% 29%, 61% 0%, 45% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(100% 33%, 100% 0%, 45% 100%, 100% 100%);
  }
  100% {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
}
.ultimos-articulos {
  margin-top: 2rem;
}
.detail-card {
  margin: 1rem;
  padding: 1rem;
  background-color: $bg-content;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: transform 0.35s ease, box-shadow 0.35s ease,
    background-color 0.35s ease;

  &:hover,
  &:focus {
    transform: scale(1.05) translateY(-4px) !important;
    box-shadow: 15px 30px 80px rgba(0, 0, 0, 0.25);
    background-color: rgb(71, 66, 66);
    img {
      transform: scale(1.03);
      filter: brightness(1.05);
    }
    h3 {
      transform: scale(1.05);
      color: rgb(0, 153, 255);
    }
  }
  img {
    width: 100%;
    max-width: 350px;
    height: 100%;
    margin: 1rem;
    border-radius: 10px;
  }
  a{
    margin-top: 1rem;
  font-weight: bold;
  }
  .text-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
    margin-left: 1rem;
  }
}

// --------- Responsive style for details cards ---------
@media (max-width: 600px) {
  .detail-card {
    margin: 1rem auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .detail-card img {
    width: 100%;
    min-width: 140px;
    margin: 0 0 1.2rem 0;
    display: block;
  }
  .detail-card .text-description {
    align-items: center;
    text-align: justify;
  }
}

// --------- Slider style ---------
.slider-container {
  position: relative;
  margin: 1rem auto;
  width: 100%;
  max-width: 80vw;
  height: 600px;
  overflow: hidden;
  border-radius: 10px;
}
.slide {
  display: none;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 3px 0 0 3px;
  background-color: rgb(0, 0, 0);
  user-select: none;
  transition: background-color 0.3s ease;
}

.prev {
  left: 5%;
}
.next {
  right: 5%;
}
.caption-slide {
  color: white;
  font-size: 1.3rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.4);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}

// --------- Responsive style ---------
@media (max-width: 768px) {
  .title-section {
    gap: 0;
  }
  .slider-container {
    height: 300px;
    max-width: 100vw;
  }
  .prev,
  .next {
    font-size: 1.2rem;
    padding: 0.3rem;
  }
  .content-inicio {
    width: 95vw;
  }
}
