@use "variables" as *;

.content-links {
  text-align: justify;
  width: 70%;
  max-width: 900px;
  margin: 1rem auto;

  h1 {
    margin-bottom: 2rem;
  }
  ul {
    list-style: square;
    margin-left: 1.5rem;
    padding-left: 0;
    li {
      margin: 0.5rem 0;
      a {
        color: blue;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    ul {
      list-style: circle;
      margin-left: 1.5rem;
    }
  }
}
