@use "./variables" as *;
@use "base";
@use "slider";

.inicio {
  text-align: center;
}

.detail-card {
  margin: 1rem;
  padding: 1rem;
  background-color: $bg-content;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    width: 100%;
    max-width: 350px;
    height: 100%;
    margin: 1rem;
    border-radius: 10px;
  }
  .text-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    margin-left: 1rem;
  }
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 1rem;

  .grid-card {
    background-color: $bg-content;
    color: white;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    text-decoration: none;
   
   
    img {
      width: 100%;
      max-height: 300px;
    }
    &:hover {
      transform: scale(1.02);
    }
  }
}
