@use "./variables" as *;
@use 'base';


.content {
    img{
        width: 100%;
        max-width: 600px;
        height: auto;
        display: block;
        margin: 1rem auto;
        border-radius: 10px;
    }
}

.detail-card{
    margin: 1rem;
    padding: 1rem;
    background-color: $bg-content;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: row;  
     align-items: center;
    img {
        width: 350px;
        max-width: 350px;
        height: auto;
        margin: 1rem;
        border-radius: 10px;
    }
    .text-description{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: flex-start;
        margin-left: 2.5rem;
    }


}