@use "./variables" as *;
@use "base";
@use "slider";

#typed-text {
  
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}

#separator {
  display: block;
  border-bottom: 2px solid black;
  margin: 1rem 0;
  
}

.content-inicio {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 1rem;
}


.inicio {
  text-align: center;
}

.detail-card {
  margin: 1rem;
  padding: 1rem;
  background-color: $bg-content;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    width: 100%;
    max-width: 350px;
    height: 100%;
    margin: 1rem;
    border-radius: 10px;
  }
  .text-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
    margin-left: 1rem;
  }
}

.ultimos-articulos {
 margin-top: 2rem;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  max-width: 90vw;
  margin: 0 auto;
  justify-content: center;
  .grid-card {
    background-color: $bg-content;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
    padding: 1rem;
    cursor: pointer;
    text-decoration: none;
    max-width: 800px;
    width: 100%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0);
    text-align: justify;

    img {
      width: 100%;
      max-height: 300px;
      border-radius: 10px;
      aspect-ratio: 16/6;
    }
    &:hover, &:focus {
      transform: scale(1.02);
    }
    h2{
      margin: 1rem 0;
      color: black;
      border-bottom: 2px solid black;
    }
  }
}

.content-article {
  width: auto;
  max-width: 900px;
  display: block;
  margin: 1rem auto;
  padding: 1rem;
  text-align: justify;
  .det-main-img {
    display: block;
    width: 100vw;
    max-width: 100%;
    max-height: 500px;
    margin: 1rem auto;
    border-radius: 10px;
  }
  .article-img {
    width: 70vw;
    max-width: 80%;
    height: auto;
    max-height: none;
    display: block;
    max-height: 400px;
    margin: 1rem auto;
    border-radius: 5px;
  }
  p {
    margin: 0.75rem 0;
  }
  iframe {
    display: block;
    margin: 1rem auto;
    width: 80%;
    height: 400px;
    border-radius: 5px;
  }
  h2 {
    margin: 1rem 0;
    border-bottom: 2px solid black;
  }
  figcaption {
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    font-style: italic;
  }
}

#btnToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: white;
  background-color: green;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
  &:hover {
    background-color: darkgreen;
  }
}

.content-links {
  text-align: justify;
  width: 70%;
  max-width: 900px;
  margin: 1rem auto;

  h1 {
    margin-bottom: 2rem;
  }
  ul {
    list-style: square;
    margin-left: 1.5rem;
    padding-left: 0;
    li {
      margin: 0.5rem 0;
      a {
        color: blue;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    ul {
      list-style: circle;
      margin-left: 1.5rem;
    }
  }
}



@media (max-width: 600px) {
  .detail-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .detail-card img {
    width: 90%;
    max-width: 400px;
    min-width: 140px;
    margin: 0 0 1.2rem 0;
    display: block;
  }
  .detail-card .text-description {
    align-items: center;
    text-align: justify;
  }

  .content-article .det-main-img,
  .content-article .article-img, .content-article iframe {
    width: 95vw;
    max-width: 100%;
    min-width: 0;
    height: auto;
    display: block;
    margin: 1rem auto;
    border-radius: 10px;
    max-height: none;
  }
  #btnToTop {
    bottom: 5px;
    right: 5px;
    padding: 0.4rem;
    font-size: 0.7rem;
  }
}


@media (max-width: 768px) {
 .content-inicio{
  width: 95vw;
 }
}


