@use "./variables" as *;
@use "base";
@use "slider";

.inicio {
  text-align: center;
}

.detail-card {
  margin: 1rem;
  padding: 1rem;
  background-color: $bg-content;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    width: 100%;
    max-width: 350px;
    height: 100%;
    margin: 1rem;
    border-radius: 10px;
  }
  .text-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    margin-left: 1rem;
  }
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 1rem;

  .grid-card {
    background-color: $bg-content;
    color: white;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    text-decoration: none;
   
   
    img {
      width: 100%;
      max-height: 300px;
    }
    &:hover {
      transform: scale(1.02);
    }
  }
}

.content-article{
  width: auto; 
  max-width: 900px;
  display:block;
  margin: 1rem auto;
  padding: 1rem;
  text-align: justify;
  .det-main-img{
    display: block;
    width: 80%;
    max-height: 500px;
    margin: 1rem auto;
    border-radius: 10px;
  }
  .article-img{
    display: block;
    width: 60%;
    max-height: 400px;
    margin: 1rem auto;
    border-radius: 5px;
  }
  p{
    margin: 0.75rem 0;
  }
  iframe{
    display: block;
    margin: 1rem auto;
    width: 80%;
    height: 400px;
    border-radius: 5px;

  }
  h2{
    margin: 1rem 0;
    border-bottom: 2px solid black;
  }
  figcaption{
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    font-style: italic;
  }
}

 #btnToTop{
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: white;
  background-color: green;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
  &:hover{
    background-color: darkgreen;
  }
 }



 .content-links{
  width: 70%;
  max-width: 900px;
  margin: 1rem auto;

  h1{
    margin-bottom: 2rem;
  }
  ul{
    list-style: square;
    margin-left: 1.5rem;
    padding-left: 0;
    li {
      margin: 0.5rem 0;
      a{
        color: blue;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    ul{
      list-style: circle;
      margin-left: 1.5rem;
    }
  }
  
 }
